classic/app/RetrieveClassicStatistics.pdb
.vs/slnx.sqlite
classic/app/RetrieveClassicStatistics
classic/app/System.Reactive.xml
classic/pbi/debug.log
classic/pbi/NumeraiClassicStatistics.pbix
.vs/VSWorkspaceState.json
.vs/numerai_statistics/v16/.suo
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/slnx.sqlite
classic/pbi/NumeraiClassicStatistics_parquet.pbix
classic/pbi/NumeraiClassicStatistics_personal.pbix
classic/pbi/archive/*.pbix
classic/pbi/archive/NumeraiClassicStatistics_v0_2_0.pbit
classic/src/.vs/ClassicStatistics/DesignTimeBuild/.dtbcache.v2
classic/src/RetrieveClassicStatistics/.vs/RetrieveClassicStatistics/v16/.suo
classic/src/.vs/ClassicStatistics/v16/.suo
classic/src/RetrieveClassicStatistics/.vs/RetrieveClassicStatistics/DesignTimeBuild/.dtbcache.v2
classic/src/RetrieveClassicStatistics/Properties/PublishProfiles/FolderProfile.pubxml.user
classic/src/RetrieveClassicStatistics/RetrieveClassicStatistics.csproj.user
/classic/src/NumeraiApi/bin
/classic/src/NumeraiApi/obj
/classic/src/RetrieveClassicStatistics/bin
/classic/src/RetrieveClassicStatistics/obj
